<div class="home2">
  <div class = "row espacio_row">
	<div class = " col-md-8 texto_home2 caja_home2">
	  		<h1>Consigue el trabajo soñado</h1>
	  		<h3>Obtén un puesto inicial en uno de los empleos más demandados y mejor pagos como desarrollador web o mobile, o trabaja como freelancer desde la comodidad de tu casa.</h3>
	  		<h3>Tú decides, nosotros te ayudamos a hacerlo realidad.</h3>
	</div>
	  	<div "col-md-6" class="botones_home2">	
	  			  <p  id="texto_home2">APLICA PARA TRABAJAR EN ESTAS EMPRESAS (+200 MÁS)</p>
	  	<img class="logo_imagen"src="img/tp-logos.png">
	  	<span>
	  		<button><h1>300.000</h1><p>PUESTOS NESESARIOS EN 2015 <br> 
	  		EN DESARROLLO DE SOFTWARE</p></button>
	  	</span>
	  	<span>
	  		<button><h1>+35%</h1> <p>MEJOR SALARIO QUE <br>OTRAS INDUSTRIAS</p></button>
	  	</span>	
	  	</div>
  	</div>
</div>	
